[submodule "utility/Tunneling-Utility"]
	path = utility/Nabi-Cloudflared
	url = ../Nabi-Cloudflared.git
	branch = main
[submodule "utility/Reverse-Proxy"]
	path = utility/Reverse-Proxy
	url = ../Reverse-Proxy.git
	branch = main
[submodule "src/Nabi-UI"]
	path = src/Nabi-PWA
	url = ../Nabi-PWA.git
	branch = main
[submodule "src/Nabi-Brain"]
	path = src/Nabi-NLU
	url = ../Nabi-NLU.git
	branch = main
[submodule "src/Nabi-TTS"]
	path = src/Nabi-TTS
	url = ../Nabi-TTS.git
	branch = main
