[submodule "utility/Tunneling-Utility"]
	path = utility/Tunneling-Utility
	url = ../Tunneling-Utility.git
	branch = main
[submodule "utility/Reverse-Proxy"]
	path = utility/Reverse-Proxy
	url = ../Reverse-Proxy.git
	branch = main
[submodule "src/Nabi-UI"]
	path = src/Nabi-UI
	url = ../Nabi-UI.git
	branch = main
[submodule "src/Nabi-Brain"]
	path = src/Nabi-Brain
	url = ../Nabi-Brain.git
	branch = main
[submodule "src/Nabi-Voice"]
	path = src/Nabi-Voice
	url = ../Nabi-Voice.git
	branch = main
